
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  main {
    flex-grow: 1;
  }

.footer-container {
  background-color: #b99262;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer-subscription-container{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px;
}

.footer-divider{
  width: 3px; 
  background-color: #fff; 
  height: auto; 

}

.footer-subscription {
  font-size: 20px;
  color: #fff;
  text-align: left;
  width: 50%;
 padding-left: 50px;
 padding-right: 50px;
  flex: 1 1 45%;
  box-sizing: border-box; 
  min-width: 300px;
}

.footer-subscription-centre{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.footer-subscription h2{
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
  }

  
.footer-subscription p{
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;
  
}


.social-media {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  color: #fff;
  font-size: 40px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #885d29;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .social-logo {
    font-size: 25px;
  }

  .social-icon {
    font-size: 25px;
  }



  .footer-subscription {
    flex: 1 1 100%; 
    text-align: center;
  }

  .footer-divider {
    display: none; 
  }
}
