.kontakt-about-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 40px;
    text-align: center;
    color: #444;
  }
  
  .kontakt-about-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .kontakt-about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .kontakt-image-about {
    margin-left: 70px;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    border-radius: 20px;

  }

  .kontakt-image-about:hover {
    transform: scale(1.05); /* Zoom in effect */
    opacity: 0.9; /* Slight fade effect */
  }
  
  .kontakt-image-about:hover img {
    transform: scale(1.05); /* Zoom in effect for the image */
  }

  .kontakt-image-about h1 {
    color: #e4d9cc;
    font-size: 40px;
  }
  
  .kontakt-about-section {
    background: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .kontakt-about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .kontakt-onama-section {
    width: 50%;
    padding: 50px;
  }
  
  .kontakt-onama-section img {
    width: 80%;
    height: 350px;
  }
  
  .kontakt-onama-text {
    flex: 1;
  }
  
  .kontakt-onama-section h1 {
    padding-bottom: 20px;
    text-align: left;
  }
  
  .kontakt-onama-image {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .kontakt-onama-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
  }
  
  @media screen and (max-width: 960px) {
    .kontakt-about-section {
      height: auto;
      padding-top: 60px;
      text-align: center;
    }
  
    .kontakt-about-content {
      flex-direction: column-reverse; 
      gap: 10px;
    }
  
    .kontakt-onama-section {
      padding: 40px;
      width: 100%;
    }
  
    .kontakt-onama-section h1 {
      font-size: 27px;
    }
  
    .kontakt-onama-text,
    .kontakt-onama-image {
      flex: none;
      width: 100%;
    }
  
    .kontakt-onama-section {
      align-items: center;
      justify-content: center;
    }
 
  }
  