.usluge {
    padding: 20px;
    text-align: center;
  }
  
  .usluge_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .usluga{
    border: 1px solid #b99262;
    border-radius: 12px;
    width: 300px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
  }
  
  .usluga_img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .usluga_naziv {
    font-size: 20px;
    color: #b99262;
    margin: 10px 0;
  }
  
  .usluga_opis {
    font-size: 16px;
    color: #666;
  }
  
  .usluga_detalji {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .usluga_cena,
  .usluga_kapacitet {
    font-size: 14px;
    color: #333;
  }
  

  